.group {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(3, 10, 19);
}

.subgroup {
  width: 100%;
  margin-top: -1vh;
  margin-left: auto;
  margin-right: auto; 
} 

.card {
  border: none;
}

.heading-button {
  text-align: left;
  box-shadow: none;
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.75rem;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgb(220 220 220);
}

.heading-button:focus {
  box-shadow: none;
}

.subgroup .heading-button {
  background-color: rgb(235, 235, 235);
  padding: 0.1rem 0.1rem;
}

.card-body {
  background-color: rgb(235, 235, 235);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.subgroup .card-body {
  padding: .2rem .5rem;
}

.groupElem {
  padding: .2rem .5rem; 
  border-left:  0.07vw solid  rgba(24, 85, 164, 0.25); 
}

/* Collapse */

i.collapse-icon  {
  color: rgba(24, 85, 164, 0.6);
} 

.heading-button[data-toggle="collapse"] i.collapse-icon  {
  transition: all 0.3s ease;
}

.heading-button[data-toggle="collapse"].collapsed i.collapse-icon  {
  transform: rotate(-90deg);
} 

.collapsing {
  transition: height .35s ease;
}
