@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; 
@import 'configuration.css';
@import 'applyButton.css';
@import 'diagram.css';
@import 'slider.css';
@import 'group.css';

body{
  /* font-family: sans-serif; */
  color: #282828;
  background-color:rgb(221, 225, 227);
  margin: 0;
}
